.commentBlock{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 15px;
    font-size: 12px;
    justify-content: space-between;
}
.userInfo{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.userAvatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.userAvatar img{
    width: 100%;
}
.commentText{

}
.deleteComment{
    align-self: flex-end;
    font-size: 12px;
}
