.postWrapper{
    margin-bottom: 20px;
}

.postItem{
    color: #2c17ff;
    background-color: #d5d5d5;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;
    position: relative;
}

.post{
    display: flex;
    margin-bottom: 15px;
    padding: 15px 5px;
    border-bottom: 1px solid #394d31;
}

.postInfo{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postUser{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.postActions{
display: flex;

}

.likeBlock{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.postImg{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.postItem img{
    max-width: 30px;
    height: auto;
    border-radius: 50%;
    display: block;
}

.commentsBtn{
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.postLikes{

}

.deleteBtn{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    font-size: 12px;
}